<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= ga_property_id %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  function gtagPageview(path) { gtag('config', '<%= ga_property_id %>', { 'page_path': path }); }

  gtag('js', new Date());

  gtag('config', '<%= ga_property_id %>');
</script>
