  <meta name="description"
    content="An overview of my capabilities and work history along with examples of recent projects that I've worked on." />

  <meta property="og:title" content="Roger Fedor, Information Technology Specialist" />
  <meta property="og:image" content="<%= base_url %>/17e86e9f2ad8965c1ad222a815ce0fef.jpg" />
  <meta property="og:site_name" content="CV for Roger Fedor" />
  <meta property="og:url" content="<%= base_url %>/" />
  <meta property="og:type" content="profile" />
  <meta property="og:profile:first_name" content="Roger" />
  <meta property="og:profile:last_name" content="Fedor" />
  <meta property="fb:admins" content="10100199267639056" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" value="summary">
  <meta name="twitter:title" value="Roger Fedor, Information Technology Specialist">
  <meta name="twitter:description" value="An overview of my capabilities and work history along with examples of recent projects that I've worked on.">
  <meta name="twitter:image" content="<%= base_url %>/17e86e9f2ad8965c1ad222a815ce0fef.jpg">
